@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preline UI */
/* @import "tailwindcss";
@import "../../node_modules/preline/variants.css";
@source "../../node_modules/preline/dist/*.js"; */